$width-name: max-device-width;
$target-width: 320px;
$break-small: 600px;
$break-large: 1200px;
 
 body{
   
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 16px;
    min-height: 100vh;

    .checkout{
        position:relative;
        border : 1px solid black;
        padding: 0;
        text-align: center;

        .loginform {
            width: 25%;
            margin : 0 auto;
            text-align: center;
           
            >p {
               
                font-size: 10px;
                color:red;
            }
            h5{
                text-align: center;
                font-weight: bold;
                margin-bottom:0px;
            }
            .enabled{
             background-color: green;
            }
            .disabled {
                background-color: grey;
                opacity: 0.5
            }
            label{
                font-size: 15px;
                word-wrap: break-word; 
                white-space: pre-line;
                max-width: 35%;
                min-width: 25%;
                text-align: center;
            }
            input {
                text-align: center;
                width:65%;
                font-size: 12px;
                outline:none;
            }
            input:invalid {
                    border: 2px dashed red;
                    }

            input:valid {
            border: 2px solid black;
            }
        }
        .productCart{
            float: left;
            width:100%;
           
            overflow-y: scroll;
            > div:nth-child(1){
                width :70%;
                float: left;
                >div{
              margin:2px;
              span{
                  display: inline-block;
                  margin:0 30px;
                  width: 10%
              }
              span:last-child{
                  border : 1px solid red;
                  cursor: pointer;

              }
                }
            }
            .deliveryDetails{
              border:1px solid black;
              width:25%;
              float: left;
              > p {
                  font-size: 14px;
                  > span{
                      width:40%;
                      display: inline-block;
                      text-align: center;
                  }
              }
            }
        }
        .adsContainer{
            clear: both;
            width:100%;
            border: 1px solid black;
            float: left;
            overflow-x:scroll;

            > div {
                
                float: left;
                display: flex;
            }

            .productCard{
                width: 20%;
                padding: 10px;
                float: left;
                .productDescription{
                      width: 100%;
                      float: left;
                      .price{
                          margin-top: 3px;
                          margin-right: 20px;
                      }
                      label{
                          margin-bottom: 0;
                          font-size: 10px;
                      }
                      input{
                          width:45px;
                          font-size: 14px;
                      }
                }
                .productImage{
                     width:80%;
                     img{
                         width: 100%;
                         height: 100px;
                     }
                }
            }
        }

    }

     
 }

